@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
   
}


.gradientbg{
background: linear-gradient(to bottom, #073C69,#022847);
}
.gradientheader{
background: linear-radial(90deg, #073C69,#022847);
}
.loginbg{
    background: radial-gradient(ellipse at 50% 50%, #073C69 0%, #022847 100%);
}
.shadow{
    box-shadow: 14px 10px 0px rgb(201, 201, 201);
}
.chartbg{
    background-image: url('../src/assets/bg-chart.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.hoverTextbg{
    background-image: url('../src/assets/hovertext.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}